<div class="post">
    <section class="card">
        <div class="post-header post-title">
            <h2 class="post-title light-text">{{post.title}}</h2>
            <h3 class="light-text post-subtitle">Posted by {{post.User.username}}</h3>
        </div>
        <div class="post-body light-text">
            {{post.body}}
        </div>
    </section>

    {{#if post.Comments}}
        <section class="comment-card">
            <div class="comment-card-body">
                {{#each post.Comments}}
                    <div>
                        <p class="comment light-text">
                            {{body}}
                        </p>
                        <p class="comment-user light-text">
                            {{User.username}}
                        </p>
                    </div>
                {{/each}}
            </div>
        </section>
    {{/if}}

    <form id="new-comment-form" class="card form-card">
        <div class="d-flex justify-content-center light-text">
            <h3>Add a New Comment</h3>
        </div>
        <div class="">
            <input type="hidden" name="post-id" value="{{post.id}}" />
            <div class="">
                <div class="d-flex justify-content-center">
                <label class="form-label light-text" for="comment-body">Comment</label>
                </div>
                <div class="d-flex justify-content-center">
                <textarea name="comment-body" class="form-imput"></textarea>
                </div>

            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn">Submit</button>
            </div>
        </div>
    </form>
</div>

<script src="/js/comment.js"></script>